<br><br>
<div class="contacts-container">
  <h2>Edwin Rozario</h2>
  <ul class="list-group">
    <li class="list-group-item list-group-item-success">LandLine: 094387474</li>
    <li class="list-group-item list-group-item-info">Mobile  : 02108453847</li>
    <li class="list-group-item list-group-item-warning">Email     : rozarioed@gmail.com</li>
    <li class="list-group-item list-group-item-danger">GitHub     : https://github.com/EdwinRozario</li>
    <li class="list-group-item list-group-item-success">Twitter     : @EdwinARozario</li>
  </ul>
</div>
