<br><br>
<div class="jumbotron">
  <div class="cover-container">
  <div class="profile-pic">
    <%= image_tag("/images/profilepic.jpg", :alt => "image", :width => "300px", :height => "300px", :title => "EdwinRozario") %>
  </div>
  <div class="profile-text">
  Programmer, Rocket enthusiast, Amateur Cook, Part-time Gamer, Dreamer ...
  </div>
</div>