
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
<!--               <hr class="section-heading-spacer"> -->                    

                    <div class="clearfix"></div>
                    <h1 class="section-heading">Arvind is getting married</h1>
                    <p class="lead">
                    <%= link_to "Arvind",  "https://www.facebook.com/arvind.sreenivasan"%> had always been the Mr. Handsome of our group and the one expected to get married anytime. He always had that baby smile and was fun to be around.  
                    </p>

                    <p class="lead">
                    Few months back i received literally the most beautiful email ever, him explaining that he have found his life partner. The email had all the excitement as if Thorin have reclaimed his Gold. 
                    </p>

                    <p class="lead">
                    <h3>I wish you and your beautiful partner (<%= link_to "Priyanka",  "https://www.facebook.com/pinku.mohan.12"%>) a wonderful married life.</h3>
                    </p>                    


                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <br><br>
                    <hr class="section-heading-spacer">
                    <img class="img-responsive" src="/images/arvind.jpg" alt="">
                    <hr class="section-heading-spacer">
                </div>

            </div>

        </div>
        <!-- /.container -->
    </div>


    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">God Delusions
                        <br>by Richard Dawkins</h2>
                    <p class="lead">
                      I become a Rationalist not after seeing <%= link_to "God Delusions",  "http://www.youtube.com/watch?v=9FiHRVb_uE0"%> but i found it after i became rational.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                    <img class="img-responsive" src="/images/god-delusions.jpg" alt="">
                </div>
            </div>

        </div>    
