<div class="jumbotron">

    <div class="intro-header">

    <div class="intro-header">
    
        <div class="container">
            <h2>Lets Talk</h2>
            <div class="row">
				<iframe src="https://appear.in/eddie-your-buddy" width="800" height="640" frameborder="0"></iframe>
            </div>
            <h3>Make sure i am avail...</h3>
        </div>

    </div>
    <!-- /.intro-header -->
  </div>

</div>