    <br><br><br><br><br><br><br>

    <div class="blog_background">

        <div class="container">

            <div class="row">
                <br><br><br><br><br><br><br>
                <div class="col-lg-4">
                    <h1>After the Posterous distater, now i want to set up a new blog again.</h1>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


<h1>Some Test</h1>



 <form action='https://leet.sirportly.com/remote_form/811' method='POST'>
  <dl>
    <dt><label for='form811-name'>Name</label></dt>
    <dd><input type='text' name='ticket[name]' id='form811-name' /></dd>

    <dt><label for='form811-email'>E-Mail Address</label></dt>
    <dd><input type='text' name='ticket[email]' id='form811-email' /></dd>

    <dt><label for='form811-subject'>Subject</label></dt>
    <dd><input type='text' name='ticket[subject]' id='form811-subject' /></dd>

    <dt><label for='form811-priority'>Priority</label></dt>
    <dd>
      <select id='form811-priority' name='ticket[priority]'>
        <option value='17854' selected='selected'>Normal</option>
        <option value='17857'>Urgent</option>
        <option value='17860'>High</option>
        <option value='17863'>Low</option>
      </select>
    </dd>

    <dt><label for='form811-custom-occupation'>occupation</label></dt>
    <dd><input type='text' name='ticket[custom][occupation]' value='NULL' id='form811-custom-occupation' /></dd>

    <dt><label for='form811-message'>Message</label></dt>
    <dd><textarea name='ticket[message]' id='form811-message'></textarea></dd>

  </dl>
  <p class='submit'><input type='submit' name='send' value='Send Message' /></p>
  <input type='text' name='checkf' value='' style='display:none'; />
</form>

<form action='https://leet.sirportly.com/remote_form/814' method='POST'>
  <dl>
    <dt><label for='form814-name'>Name</label></dt>
    <dd><input type='text' name='ticket[name]' id='form814-name' /></dd>

    <dt><label for='form814-email'>E-Mail Address</label></dt>
    <dd><input type='text' name='ticket[email]' id='form814-email' /></dd>

    <dt><label for='form814-subject'>Subject</label></dt>
    <dd><input type='text' name='ticket[subject]' id='form814-subject' /></dd>

    <dt><label for='form814-priority'>Priority</label></dt>
    <dd>
      <select id='form814-priority' name='ticket[priority]'>
        <option value='17854' selected='selected'>Normal</option>
        <option value='17857'>Urgent</option>
        <option value='17860'>High</option>
        <option value='17863'>Low</option>
      </select>
    </dd>

    <dt><label for='form814-message'>Message</label></dt>
    <dd><textarea name='ticket[message]' id='form814-message'></textarea></dd>

  </dl>
  <p class='submit'><input type='submit' name='send' value='Send Message' /></p>
  <input type='text' name='checkf' value='' style='display:none'; />
</form>


<form action='https://leet.sirportly.com/remote_form/817' method='POST'>
  <dl>
    <dt><label for='form817-name'>Name</label></dt>
    <dd><input type='text' name='ticket[name]' id='form817-name' /></dd>

    <dt><label for='form817-email'>E-Mail Address</label></dt>
    <dd><input type='text' name='ticket[email]' id='form817-email' /></dd>

    <dt><label for='form817-subject'>Subject</label></dt>
    <dd><input type='text' name='ticket[subject]' id='form817-subject' /></dd>

    <dt><label for='form817-custom-occupation'>occupation</label></dt>
    <dd><input type='text' name='ticket[custom][occupation]' value='NULL' id='form817-custom-occupation' /></dd>

    <dt><label for='form817-message'>Message</label></dt>
    <dd><textarea name='ticket[message]' id='form817-message'></textarea></dd>

  </dl>
  <p class='submit'><input type='submit' name='send' value='Send Message' /></p>
  <input type='text' name='checkf' value='' style='display:none'; />
</form>   