    <br><br><br><br><br><br><br>

    <div class="blog_background">

        <div class="container">

            <div class="row">
                <br><br><br><br><br>
                <div class="col-lg-4">
                    <h1>After the Posterous distater, now i want to set up a new blog again.</h1>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


<h1>Some Test</h1>

<form action='https://new-zealand-government.sirportly.com/remote_form/796' method='POST'>
  <dl>
    <dt><label for='form796-name'>Name</label></dt>
    <dd><input type='text' name='ticket[name]' id='form796-name' /></dd>

    <dt><label for='form796-email'>E-Mail Address</label></dt>
    <dd><input type='text' name='ticket[email]' id='form796-email' /></dd>

    <dt><label for='form796-subject'>Subject</label></dt>
    <dd><input type='text' name='ticket[subject]' id='form796-subject' /></dd>

    <dt><label for='form796-custom-business-or-individual'>business-or-individual</label></dt>
    <dd><div class='checkbox-group'><input id='ticket_custom_business' type='radio' name='ticket[custom][business-or-individual]' value='Business'  /> <label for='ticket_custom_business' class='radio'>Business</label> <input id='ticket_custom_individual' type='radio' name='ticket[custom][business-or-individual]' value='Individual'  /> <label for='ticket_custom_individual' class='radio'>Individual</label> </div></dd>

    <dt><label for='form796-custom-feedback-type'>feedback-type</label></dt>
    <dd><div class='form__select'><select name='ticket[custom][feedback-type]' id='form796-custom-feedback-type'><option></option><option>Positive feedback about the information and service you have received</option><option>Make a complaint</option><option>Suggest an improvement</option><option>Report a website error</option><option>Something else</option></select></div></dd>

    <!-- <dt><label for='form796-custom-message'>message</label></dt> -->
    <dd><textarea name='ticket[custom][message]' id='form796-custom-message'></textarea></dd>

    <dt><label for='form796-custom-questionaire1'>Did you find the information you were looking for?</label></dt>
    <dd><textarea name='ticket[custom][questionaire1]' id='form796-custom-questionaire1'></textarea></dd>

    <dt><label for='form796-custom-questionaire2'>Is the information easy to understand?</label></dt>
    <dd><textarea name='ticket[custom][questionaire2]' id='form796-custom-questionaire2'></textarea></dd>

    <dt><label for='form796-custom-questionaire3'>Where you able to acheive what you wanted from this site?</label></dt>
    <dd><textarea name='ticket[custom][questionaire3]' id='form796-custom-questionaire3'></textarea></dd>

    <!-- <dt><label for='form796-message'>Message</label></dt>
    <dd><textarea name='ticket[message]' id='form796-message'></textarea></dd> -->

  </dl>
  <p class='submit'><input type='submit' name='send' value='Send Message' /></p>
  <input type='text' name='checkf' value='' style='display:none'; />
</form>


<!-- <form action='https://leet.sirportly.com/remote_form/811' method='POST'>
  <dl>
    <dt><label for='form811-name'>Name</label></dt>
    <dd><input type='text' name='ticket[name]' id='form811-name' /></dd>

    <dt><label for='form811-email'>E-Mail Address</label></dt>
    <dd><input type='text' name='ticket[email]' id='form811-email' /></dd>

    <dt><label for='form811-subject'>Subject</label></dt>
    <dd><input type='text' name='ticket[subject]' id='form811-subject' /></dd>

    <dt><label for='form811-priority'>Priority</label></dt>
    <dd>
      <select id='form811-priority' name='ticket[priority]'>
        <option value='17854' selected='selected'>Normal</option>
        <option value='17857'>Urgent</option>
        <option value='17860'>High</option>
        <option value='17863'>Low</option>
      </select>
    </dd>

    <dt><label for='form811-custom-occupation'>occupation</label></dt>
    <dd><input type='text' name='ticket[custom][occupation]' value='NULL' id='form811-custom-occupation' /></dd>

    <dt><label for='form811-message'>Message</label></dt>
    <dd><textarea name='ticket[message]' id='form811-message'></textarea></dd>

  </dl>
  <p class='submit'><input type='submit' name='send' value='Send Message' /></p>
  <input type='text' name='checkf' value='' style='display:none'; />
</form>

<form action='https://leet.sirportly.com/remote_form/814' method='POST'>
  <dl>
    <dt><label for='form814-name'>Name</label></dt>
    <dd><input type='text' name='ticket[name]' id='form814-name' /></dd>

    <dt><label for='form814-email'>E-Mail Address</label></dt>
    <dd><input type='text' name='ticket[email]' id='form814-email' /></dd>

    <dt><label for='form814-subject'>Subject</label></dt>
    <dd><input type='text' name='ticket[subject]' id='form814-subject' /></dd>

    <dt><label for='form814-priority'>Priority</label></dt>
    <dd>
      <select id='form814-priority' name='ticket[priority]'>
        <option value='17854' selected='selected'>Normal</option>
        <option value='17857'>Urgent</option>
        <option value='17860'>High</option>
        <option value='17863'>Low</option>
      </select>
    </dd>

    <dt><label for='form814-message'>Message</label></dt>
    <dd><textarea name='ticket[message]' id='form814-message'></textarea></dd>

  </dl>
  <p class='submit'><input type='submit' name='send' value='Send Message' /></p>
  <input type='text' name='checkf' value='' style='display:none'; />
</form>


<form action='https://leet.sirportly.com/remote_form/817' method='POST'>
  <dl>
    <dt><label for='form817-name'>Name</label></dt>
    <dd><input type='text' name='ticket[name]' id='form817-name' /></dd>

    <dt><label for='form817-email'>E-Mail Address</label></dt>
    <dd><input type='text' name='ticket[email]' id='form817-email' /></dd>

    <dt><label for='form817-subject'>Subject</label></dt>
    <dd><input type='text' name='ticket[subject]' id='form817-subject' /></dd>

    <dt><label for='form817-custom-occupation'>occupation</label></dt>
    <dd><input type='text' name='ticket[custom][occupation]' value='NULL' id='form817-custom-occupation' /></dd>

    <dt><label for='form817-message'>Message</label></dt>
    <dd><textarea name='ticket[message]' id='form817-message'></textarea></dd>

  </dl>
  <p class='submit'><input type='submit' name='send' value='Send Message' /></p>
  <input type='text' name='checkf' value='' style='display:none'; />
</form>  -->   