// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

.navbar-nav { text-align: center; }


// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.navbar-fixed-top {
  text-align: center;
  height: 40px;
}

.navbar .nav {
      padding:0px 39% 15px
    }

.jumbotron {
  background-image:url('/images/face1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 905px;
  color: white;
}

.jumbotron h1 { colour: FFFFFF;}

.carousel-inner {
width:100%;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.peopleCarouselImg img {
  width: auto;
  height: 225px;
  max-height: 225px;
}